
html, body {
    background-color:black;
    height: 100%;
}
.header {
    top: 0;
  }
  
  .header img {
    width: 100%;

    height:200px;

  }
  

.sidenav {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 1;
  top: 0;
  background-color: rgb(123, 122, 122);
  float: left;
  margin-top: 0;
  padding-bottom: 100%;
    
  }
  
  /* The navigation menu left */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Hey August';
    font-size: 25px;
    color: #f1f1f1;
    display: block;
   
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #c2b9b9;
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*//////////////////////////MAIN/////////////////////////*/
  .main {
      font-family: helvetica;
      color: rgba(194, 184, 184,0.8);
      margin: 140px;
      padding: 0;
      background-color: black;
      overflow: hidden;
      margin-top: 0px;

  }
   @font-face { 
      font-family: "Hey August";
      src: ("../public/HeyAugust.ttf");
  }

  .main h1{
      font-family: 'Hey August';
     
  }

  .main a{
    font-family: 'Hey August';
    font-size: 25px;
    padding-left: 15px;
    color: rgba(193,184,184,0.8);
  }
  
  
  .main a:hover{
    color: white;
  }
  
  /* Style the navigation bar */
.navbar {
    width: auto;
    padding: 0px 140px;
    background-color: rgb(123, 122, 122);
    overflow: auto;
    z-index:-1;
   
  }
  
  /* Navbar rechts */
  .navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    z-index:1;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels 
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }*/

  .textEditor{
    margin: 0 auto;
    width: 750px; 
    height: 300px;
}

 .textEditor header {
    border-bottom: none;
    padding: 10px;
    background-color: rgb(69, 27, 27);
    color: rgba(194, 184, 184,0.8);
    border-radius: 8px 8px 0px, 0px;
}
.textEditor header > button{
    color:rgba(194, 184, 184,0.8);
    border: none;
    outline:none;
    background-color: transparent;
    cursor: pointer;
}
.textEditor header > button:hover{
    color: white;  
}

.headerbody{
    border: 2px solid rgb(69,27,27);
    height: 100%;
    width: 746px;
}
.headerbody iframe:theWYSIWYG{
    height: 100%;
    width: 100%;
}
input[type ="color"]{
    border: none; 
    outline: none;
    background-color: transparent;
}

button {
  margin-top: 60px;
  padding: 10px 20px;
  background-color:rgb(123, 122, 122);
  box-shadow: 0px 17px 10 px -7px rgba(199, 189, 189, 0.4);
  border: solid 3px rgb(123, 122, 122);
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Hey August';
  transition: ease-in-out;
  transition: ease-in-out all 300ms;
}

button:hover{
  color: black;
  background-color: #FFF;
  transform: translate(0px, -10px);
  box-shadow: 0px 30px 10px -10px rgba(206, 199, 199, 0.2);

}