
/*CSS SHEET OMG*/
/*für die wichtigsten Sachen*/

html, body {
    background-color: rgb(35, 35, 35) ;
    height: 200%;
    width: 150%;
    max-width: 1000px;
    margin:auto;
}

/*Header Banner CSS*/
.header {
    top: 0;
  }

.header img {
    width:100%;
    height:10%;
  }

.main img {
  width: 50vh;
  height: 30vh;
  float: right;
  margin-right: -20vh;
}


/*Schrift einstellen und für alle zugänglich machen*/
@font-face { 
    font-family: 'heyAugust';
    font-weight: lighter;
    src: url(heyAugust.ttf);
}
  
/*//////////////////////NAVIGATIONBARS///////////////////////////////*/

/*Seitennavigation mit festgelegter Breite, höhe und der Position, Farbe, Anordnung der Schrift usw.*/
.sidenav {
  height: 100%; 
  width: 110px; 
  position: relative;
  background-color: rgb(123, 122, 122);
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  }
  
  /* Seitennavigation Verlinkungen*/
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'heyAugust';
    font-size: 25px;
    color: #f1f1f1;
    display: block;
  }
  
  /* Die Verlinkungen in der Seitennavigation verändern die Farbe wenn man über sie hoverd */
  .sidenav a:hover {
    color: #c2b9b9;
  }

/*NAVBAR OBEN*/
/*Stil*/
.navbar {
  width: 720px;
  height: 45px;
  padding: 0px 140px;
  background-color: rgb(123, 122, 122);
  overflow: auto;
  z-index:-1;
}

/* Navbar Icons nach rechts rechts */
.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  z-index:1;
}

/* Navbar hover */
.navbar a:hover {
  background-color: #000;
}



/*////////////////////////BLACK MAGIC///////////////////*/
/*Ein bisschen Responsive Design...*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: left;
    }
  }
  /*//////////////////////////MAIN/////////////////////////*/
  .main {
      font-family: helvetica;
      color: rgba(194, 184, 184,0.8);
      margin: 110px;
      margin-bottom: 0;
      padding-left: 60px;
      padding-top: 20px;
      padding-right: 130px;
      background-color: black;
      overflow: hidden;
      margin-top: 0px;
      height: 200%;
      width: 70%;
      display: block;
      text-align: justify;
  }

  
  .main h1{
      font-family: 'heyAugust';  
      font-weight: lighter;
  }

  .main a{
    font-family: 'heyAugust';
    font-size: 25px;
    padding-left: 15px;
    color: rgba(193,184,184,0.8);
  }
  .main a:hover{
    color: white;
  }

  /*für die Fehlermeldungen*/
  .o{
    color: rgb(248, 148, 66);
    font-family: helvetica;
    font-weight: bold;
  }

  .j{
    color: rgb(248, 148, 66);
    font-weight: normal;
  }
  


/*//////////////////////ALLE INPUT TYPES/ SUBMIT TYPES //////////////////////////////*/
input[type="submit"]{
  background: none;
  border: 2px solid;
  font: helvetica;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: rgb(248, 148, 66);
  transition: 0.4s ease;
}

input[type="submit"]:hover, input[type="submit"]:focus{
  box-shadow: inset 12em 0 0 0 rgb(248, 148, 66);
  border-color: rgb(248, 148, 66);
  color: #fff;
}

input[type="text"], input[type="email"], input[type="password"]{
  background: black;
  border: none;
  padding: 0px 20px;
  border-bottom: solid rgba(206, 199, 199, 0.2);
  font-size: 20px;
  color: rgb(224, 224, 224);
  font: helvetica;
  transition: .4s ease;
  width:200px;
}

input[type="text"]:focus, input[type="text"]:hover, input[type="password"]:focus, input[type="password"]:hover, input[type="email"]:focus, input[type="email"]:hover{
border-bottom: solid rgba(248,148,66);
color: rgb(224, 224, 224);
width: 250px;
}

input[type="number"]{
  background-color: black;
  border: black;
  border-bottom: solid rgba(206, 199, 199, 0.2);
  font-size: 18px; 
  color: rgb(224, 224, 224);
  font: helvetica;
  margin-top: 10px;
}

input[type="number"]:focus, input{
border-bottom: solid rgba(248,148,66);
color: rgb(224, 224, 224);
}
.RButton fieldset{
  border: black;
}
.radio-label{
  background-color:rgb(248, 148, 66);
  box-shadow: inset 0 0 0 4px rgb(123, 122, 122);
}
input[type="radio"]:checked+label { 
  color:rgba(248,148,66);
  font-weight: bold;
 }

 textarea{
   background-color: black;
   color: rgb(123, 122, 122);
   font-size: 15px;
   font: helvetica;
 }
/*Gedöns*/


/*//////////////////////////////DELETE BUTTON/////////////////////////////////*/
button {
  
  color: rgb(123, 122, 122);
  border: none;
  background-color: black;
  transition: ease-in-out;
  transition: ease-in-out all 300ms;
  float:right;
}

button:hover {
  color: white;
  transform: translate(0px, -10px);
}

/* //////////////////////BUTTON IN RENTE
button {
  margin-top: 60px;
  padding: 10px 20px;
  background-color:rgb(123, 122, 122);
  box-shadow: 0px 17px 10 px -7px rgba(199, 189, 189, 0.4);
  border: solid 3px rgb(123, 122, 122);
  border-radius: 5px;
  font-size: 30px;
  font-family: 'heyAugust';
  transition: ease-in-out;
  transition: ease-in-out all 300ms;
}

button:hover{
  color: black;
  background-color: #FFF;
  transform: translate(0px, -10px);
  box-shadow: 0px 30px 10px -10px rgba(206, 199, 199, 0.2);

}*/
