<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <link href="layout.css" rel="stylesheet" type="text/css"/>

    <!-- Icons geklaut -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>         
    <!--Header -->
    <div class= "header">
        <div class="img">
            <img src="BannerMain.png" alt="BannerMain">
        </div>
    </div>
            
    <!-- top navigation bar-->
    <div class="navbar">
    <a href="projname"><i class="fa fa-fw fa-search"></i></a>
    <a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
    <a href="/logout"><i class="fa fa-sign-out"></i></a>
    </div>
    
    
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="main">Main</a>
        <a href="FaecherJahre">Fächer</a>  
        <a href="Projektanlegen">Neues Projekt</a>
        <a href="aboutus">About Us</a>
    </div>
    
    <!--Main Inhalt-->
    <div class="main">
    
        <h1>About Us </h1>
            <h2>Wer wir sind:</h2>
            <p>Grob zusammengefasst sind wir drei Studierende der HAW Hamburg.
            Derzeit (Winter 2019) sind wir im zweiten Smester unseres Studiengangs Media Systems am Campus Finkenau.</p>
            <h2>Was wir wollen:</h2>
            <p>Als wir unser Hauptprojekt für dieses Semester bekommen (Projekt A), mussten wir feststellen, dass wir keine Ahnung hatten, was genau wir tun sollten.
            Denn wie in den meisten Projekten wurden uns keine Altbeispiele gezeigt. Deshalb haben wir beschlossen, den Studenten der HAW
            eine Möglichkeit zu geben sich alte Projekte anzusehen. Sie sollen für die nächsten Generationen zugänglich gemacht werden,
            damit künftige Studierende eine Orientierung haben. Außerdem können sich Leute für neue Projekte zusammenfinden und Kontakte knüpfen.</p>
           <p> Das hier ist nun das Ergebnis davon und hoffentlich unser "Bestanden". </p><br>

           <h2><u>Das Team</u></h2>

           <img  src= "francie.png"> 
           <h4>Francie Rössler</h4> 
           <p>Francie ist grundsätzlich die, die alles macht. Am Anfang wurde sie zu CSS abgeschoben, hat aber nebenbei noch
            die komplette Projektplanung und das Gerüst der Dokumentation übernommen. Sie hat am meisten Ahnung und das merkt man,
            da wir ohne ihre Strukturiertheit nie so weit gekommen wären und wahrscheinlich heute noch Git verfluchen würden. </p>
            Schwerpunkt: CSS, Mädchen für alles, Gerüstbau, PM  
         
        <br><br> <br><br>


            <img src= "Jesus.png"> 
            <h4>Jesus Antich</h4> 
            <p>Jesus ist unser Cap tragender Part für die schwereren Aufgaben des Backends. Obwohl wir grundsätzlich alle drei am Backend und auch 
               am Design mitgearbeitet haben, hat Jesus definitiv die anstrengendsten Aufgaben übernommen. Wie beispielsweise das Fileupload und die 
               grundsätliche Einbindung der Datenbank. Da wir davon alle wirklich garkeine Ahnung hatten, ist er bei der ein oder anderen Nachtschicht 
               etwas verzweifelt. Trotzdem kam er (oft dank Tutoren) immer zu einem guten Ergebnis und hat irgendwann jede Aufgabe gemeistert.  </p>
               Schwerpunkt: Backend, Fileupload, Datenbanken, Jesus für alles
            <br><br><br><br>

            <img src="mona.png">
            <h4>Mona von Hein</h4>
            <p>Mona ist das ungeschlagende Superbrain der Gruppe. Sie hat die Logik in unser Projekt gebracht. Die Bedingungen und Fehlermeldungen sind auf ihren Mist gewachsen.
            Außerdem hat sie sich der Projekterstellung und der Benutzerverwaltung gewidmet und somit Kern-Features unserer Website fast im Alleingang hochgezogen. 
            Dabei ist nicht nur einmal der Git-Krieg entflammt. Nebenbei hat sie sich noch kreativ ausgelebt, indem sie Banner erstellt hat. 
            Also definitiv ein Allround-Multi-Talent.<br> </p>
            Schwerpunkt: Logik-Crack, Banner-Beats, HTML, Mädchen für alles
    
    </div>

</body>
</html>
    
    
