<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
 <div class="img">
 <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>


<!-- Side navigation -->
<div class="sidenav">
<a href="main">Main</a>
<a href="login">Login</a>
<a href="signup">Sign Up</a>
<a href="aboutus">About Us</a>
</div>

<div class="main">

        <h1>Über uns: </h1>
            <h2>Wer wir sind:</h2><br><br>
            <p>Grob zusammengefasst sind wir drei Studenten der HAW Hamburg.<br>
               Derzeit (Winter 2019) sind wir im zweiten Smester unseres Studiengangs Media Systems am Campus Finkenau<br>
               und sind genauso planlos wie ihr, wenn ihr diese Website besucht.</p><br><br><br><br>
            <h2>Was wir wollen:</h2><br>
            <p>Als wir unser Hauptprojekt für dieses Semester bekommen haben (Projekt A), durften wir feststellen,<br>
            dass wir nicht so richtig eine Ahnung hatten, was genau wir jetzt tun sollen. Denn wie in den meisten<br>
            Projekten wurden uns keine Altbeispiele gezeigt. Deshalb haben wir beschlossen, den Studenten der HAW <br>
            eine Möglichkeit zu geben sich alte Projekte anzusehen, diese selbst für die nächsten Generationen<br>
            hochzuladen, sich eventuell auch für neue Projekte zusammenzufinden und eine Alternative zu den ganzen<br>
            einzelnen Websites der Professoren zu bieten.</btr>
            Das hier ist nun das Ergebnis davon und hoffentlich unser "Bestanden".<br> </p>
    </body>
</html>
</div>