<div class="main">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <div class="sidenav">
                    <a href="main">Main</a>
                    <a href="login">Login</a>
                    <a href="signup">Sign Up</a>
                    <a href="aboutus">About Us</a>
                    </div>
        <h1>Über uns: </h1>
            <h2>Wer wir sind:</h2><br><br>
            <p>Grob zusammengefasst sind wir drei Studenten der HAW Hamburg.<br>
               Derzeit (Winter 2019) sind wir im zweiten Smester unseres Studiengangs Media Systems am Campus Finkenau<br>
               und sind genauso planlos wie ihr, wenn ihr diese Website besucht.</p><br><br><br><br>
            <h2>Was wir wollen:</h2><br>
            <p>Als wir unser Hauptprojekt für dieses Semester bekommen haben (Projekt A), durften wir feststellen,<br>
            dass wir nicht so richtig eine Ahnung hatten, was genau wir jetzt tun sollen. Denn wie in den meisten<br>
            Projekten wurden uns keine Altbeispiele gezeigt. Deshalb haben wir beschlossen, den Studenten der HAW <br>
            eine Möglichkeit zu geben sich alte Projekte anzusehen, diese selbst für die nächsten Generationen<br>
            hochzuladen, sich eventuell auch für neue Projekte zusammenzufinden und eine Alternative zu den ganzen<br>
            einzelnen Websites der Professoren zu bieten.</btr>
            Das hier ist nun das Ergebnis davon und hoffentlich unser "Bestanden".<br> </p>
    </body>
</html>
</div>