
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Icon geklaut -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
         
    <!--Header -->
    <div class= "header">
        <div class="img">
            <img src="BannerMain.png" alt="BannerMain">
        </div>
    </div>
            
    <!-- top navigation bar-->
    <div class="navbar">
        <a href="login"><i class="fa fa-fw fa-user"></i></a>
    </div>
    
    
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="main">Main</a>
        <a href="login">Login</a>
        <a href="signup">Sign Up</a>
    </div>
    
    <div class="main">
        <h1>Whoops</h1>
        Diesen Namen oder dieses Passwort kennen wir noch nicht.
        Bitte versuche es nochmal.<br>
           <br> </p>
    </div>
</body>
</html>
    
    


