<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
         
<!--Header -->
<div class= "header">
    <div class="img">
        <img src="APBanner.png" alt="APBanner">
    </div>
    </div>
            
    <!-- top navigation bar-->
    <div class="navbar">
    <a href="projname"><i class="fa fa-fw fa-search"></i></a>
    <a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
    <a href="/logout"><i class="fa fa-sign-out"></i></a>
    </div>
    
    
    <!-- Side navigation -->
    <div class="sidenav">
    <a href="main">Main</a>
    <a href="FaecherJahre">Fächer</a>  
    <a href="Projektanlegen">Neues Projekt</a>
    <a href="aboutus">About Us</a>
  
    </div>
    
    <div class="main">
    
      
<h1>Angewandte Programmierung Projekt Übersicht</h1>
<p><% for (Fach in Projekte){ %>
   <%if (Fach == "AP"){ %>
   <% for (Name in Projekte[Fach]){ %>
        
        <a href="/doProjektwahl/<%= Projekte[Fach][Name][0].Nummer %>"><%=Name %></a><br><br>
   <%  } %>   <% } %>  <%    } %>
   </p>
    
        </div>
        </body>
    </html>
    
    


