<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
            
         <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Styles -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"></link>
<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>
<!-- Scripts -->
<script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
        <title>Editor</title>
        <style>
        
            
            </style>
        <script>
            window.addEventListener("load",function(){
                var editor = theWYSIWYG.document;
                editor.designMode = "on";
                
                boldB.addEventListener("click", function(){
                    editor.execCommand("Bold", false, null);
                }, false);
                
                  italicB.addEventListener("click", function(){
                    editor.execCommand("Italic", false, null);
                  }, false);
                
                 supB.addEventListener("click", function(){
                    editor.execCommand("Superscript", false, null);
                 }, false);
                
                 subB.addEventListener("click", function(){
                    editor.execCommand("Subscript", false, null);
                 }, false);
                
                 strikeB.addEventListener("click", function(){
                    editor.execCommand("Strikethrough", false, null);
                }, false);
                
                 orderedList.addEventListener("click", function(){
                    editor.execCommand("InsertOrderedList", false, "newOL" + Math.round(Math.random()*1000));
                 }, false);
               
                   unorderedList.addEventListener("click", function(){
                    editor.execCommand("InsertUnorderedList", false, "newOL" + Math.round(Math.random()*1000));
                   }, false);
                
                    fontColorButton.addEventListener("change", function(event){
                        editor.execCommand("ForeColor", false, event.target.value);
                    }, false);
                  
                highlightButton.addEventListener("change", function(event){
                        editor.execCommand("BackColor", false, event.target.value);
                    }, false);
                
                  fontChanger.addEventListener("change", function(event){
                        editor.execCommand("FontName", false, event.target.value);
                    }, false);
                
                 fontSizeChanger.addEventListener("change", function(event){
                        editor.execCommand("FontSize", false, event.target.value);
                    }, false);
                
                linkB.addEventListener("click", function(event){
                    var url = prompt("Enter a URL", "http://");
                    editor.execCommand("CreateLink", false, url);
                },false);
                
                unlinkB.addEventListener("click", function(event){
                    editor.execCommand("UnLink", false, null);
                });
            }, false);
        </script>
    </head>
    <body>
        
<!--Header -->
<div class= "header">
        <div class="img">
            <img src="BannerMain.png" alt="BannerMain">
        </div>
        </div>
                
        <!-- top navigation bar-->
        <div class="navbar">
        <a href="#"><i class="fa fa-fw fa-search"></i></a>
        <a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
        </div>
        
        
        <!-- Side navigation -->
        <div class="sidenav">
        <a href="main">Main</a>
        <a href="login">Login</a>
        <a href="signup">Sign Up</a>
        <a href="aboutus">About Us</a>
        
        </div>

        <div id="editorSection"></div>
       <!--
        <div class="textEditor">
            <div class="header">
                <button id="boldB" title="Bold"><b>B</b></button>
                <button id="italicB" title="Italic"><em>I</em></button>
                <button id="supB" title="Superscript">X<sup>2</sup></button>
                <button id="subB" title="Subscript">X<sub>2</sub></button>
                <button id="strikeB" title="Strikethrough"><s>abs</s></button>
                <button id="orderedList" title="Numbered List">(i)</button>
                <button id="unorderedList" title="Bulleted List">&bull;</button>
                <input type="color" id="fontColorButton" title="Change Font Color">
                <input type="color" id="highlightButton" title="Highlight Text">
                <select id="fontChanger">
                <option value="Times New Roman">Times New Roman</option>
                <option value="Helvetica">Helvetica</option>
                <option value="sans serif">sans-serif</option>
                <option value="Calibri">Calibri</option>
                </select>
                <select id="fontSizeChanger">
                    <script>
                    for(var i = 1; i <=10; i++){
                        document.write("<option value='"+i+"'>"+i+"</option>");
                    }
                    </script>
                </select>
                 <button id="linkB" title="Create Link">Link</button>
                 <button id="unlinkB" title="Remove Link">Unlink</button>
                
            </div>
            
            <div class="headerbody">
                <iframe id="theWYSIWYG" name="theWYSIWYG" frameborder=0></iframe>
            </div>
        </div>
       <script>
           var fonts = document.querySelectorAll("select#fontChanger > option");
           for (var i =0; i<fonts.lengt; i++){
               fonts[i].style.fontFamily= fonts[i].value; 
           }
        </script>
       <br>
    -->
    </body>
</html>