<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
        <div class="img">
                <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>


<!-- Side navigation -->
<div class="sidenav">
<a href="main">Main</a>
<a href="FaecherJahre">Fächer</a>
<a href="aboutus">About Us</a>
</div>



<div class="main">
        <h1>Fächer</h1>
        Media Game Design<br>
        
        Angewandte Programmierung <br>

        
        </form>
    </body>
</html>
</div>