<!DOCTYPE html>
<html>

<div class="main">
        <h1>Ein Jahr auswählen:</h1>
        <form action="/Jahren" method="POST">
            <p>Theoretisch ist das hier dein Profil<br>
            Aber wir sind noch nicht so weit mit der datenbank<br>
            also leg los jesus:)</p>

            <a href="profilanlegen">Profil bearbeiten</a>
        </form>
    </body>
</html>
</div>