<div class="main">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <div class="sidenav">
                    <a href="main">Main</a>
                    <a href="login">Login</a>
                    <a href="signup">Sign Up</a>
                    <a href="aboutus">About Us</a>
                  </div>
        <h1>Login</h1>
        <form method="POST" action="/doLogin" name="login">
            <input type="text" name="name"><br>
            <input type="password" name="password"><br>
            <input type="submit" value="einloggen">
        </form>

    </body>
</html>
</div>