


<div class="main">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <!-- Side navigation -->
        <div class="sidenav">
        <a href="main">Main</a>
        <a href="login">Login</a>
        <a href="signup">singup</a>
        </div>
        <!-- Top Bar -->
        <div class="topnav">
            <a href="#news">Profil</a>
            <a href="#contact">Suche</a>
          </div>
      <!-- Seiten Inhalt -->
        <h1>Willkommen</h1>
        <p>Wir lieben Projekte. Dies das. Ihr müsst euch registrieren und anmelden um die Inhalte dieser Seite sehen zu können.
            Dabei würde es Sinn machen, wenn ihr Studierende der HAW Hamburg seid, damit ihr mit den Inhalten auch etwas anfangen könnt.
            
            Rechte blabla.
        </p>
        <a href="login">Login</a>
        <a href="signup">Registriere dich!</a>
    </body>
</html>
</div>