<div class="main">
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
         <form action= "/eingabe" method= "POST">
                <p>Mein Name:</p>
                <input type="text" name="name">
                <p>Mein Passwort:</p>
                <input type="password" name="password"><br><br>
                <p>Meine HAW-mail:</p>
                <input type="email" name="email"><br><br>
                <p>Meine bisherigen Projekte:</p><br>
                <input type="text" name="Meine Projekte"> <br><br>
                <input type="radio" name="kontaktfreudig" value="nicht"> Ich hab momentan viel zutun<br>
                <input type="radio" name="nichtkontaktfreudig" value="sehr"> Ihr könnt mich sehr gern anschreiben<br>
                <div class="container">
                    <<p>So seh ich aus:</p>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                      <div class="file-field input-field">
                        <div class="btn grey">
                          <input name="myImage" type="file">
                        </div>
                        <div class="file-path-wrapper">
        
                        </div>
                      </div>
                
                    </form>
                    <br>
                    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
                  </div>
                
                
                
                
                <input type="submit" name="abschicken"><br>
       </form>
        
    </body>
</html>
</div>