<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
    <div class="img">
        <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>


<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
<a href="main">Main</a>
<a href="FaecherJahre">Fächer</a>
<a href="aboutus">About Us</a>
</div>



<div class="main">
        <h1>Mein Profil ändern, anzeigen oder anlegen</h1>
        <h4>Wenn du dein Profil nur anzeigen willst, gib nur deinen Namen ein</h4>
        <form action="/doProfilandern" method="POST">
            <p>Mein alter Name:</p>
                <input type="text" name="ProfilName">

                <p>Mein neuer Name:</p>
                <input type="text" name="ProfilNeuerName">

                <p>Meine HAW-mail:</p>
                <input type="email" name="ProfilMail"><br><br>

                <p>Mein Studiengang:</p>
                <input type="text" name="ProfilStudiengang"><br><br>

                <p>Meine bisherigen Projekte:</p><br>
                <input type="text" name="ProfilProjekte"> <br><br>

                <input type="radio" name="kontaktfreudig" value="nicht"> Ich hab momentan viel zutun<br>
                <input type="radio" name="nichtkontaktfreudig" value="sehr"> Ihr könnt mich sehr gern anschreiben<br>
                <div class="container">
            <input type="submit" value="Speichern">
        </form>
    </body>
</html>
</div>