<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
        <!-- Icons geklaut -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
         
    <!--Header -->
    <div class= "header">
        <div class="img">
            <img src="BannerMain.png" alt="BannerMain">
        </div>
    </div>
            
    <!-- top navigation bar-->
    <div class="navbar">
        <a href="projname"><i class="fa fa-fw fa-search"></i></a>
        <a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
        <a href="/logout"><i class="fa fa-sign-out"></i></a>
    </div>
    
    
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="main">Main</a>
        <a href="FaecherJahre">F채cher</a>  
        <a href="Projektanlegen">Neues Projekt</a>
        <a href="aboutus">About Us</a>
    </div>
    
    <div class="main">
    
        <h1>Mein Profil 채ndern</h1>
        <!--ALLES REQUIRED -->
        
        <form action="/doProfilandern" method="POST">
            <!--Name 채ndern -> alter Name-->
            <p><label for="oN">Mein alter Name:</label></p>
            <input type="text" id ="oN" name="ProfilName" required>

            <!--Name 채ndern -> neuer Name -->
            <p><label for="nM">Neuer Name</label></p>
            <input type="text" id="nN" name="ProfilNeuerName" required>

            <!--neue E-Mail-->
            <p><label for="emailn">Neue E-Mail</label><br></p>
            <input type="email" name="ProfilMail" id="emailn" required>
            
            <!--altes Passwort-->
            <p><label for="opw">Mein altes Passwort:</label><br></p>  
            <input type="password" id="opw" name="ProfilAltesPasswort" required>

            <!--neues Passwort-->
            <p><label for="pass3">Mein neues Passwort (mind. 6 Zeichen):</label><br></p>
            <p><input type="password" id="pass3" name="ProfilNeuesPasswort" minlength="6" required ><br></p>

                <div class="container">
                <input type="submit" value="Speichern" name="Speichern">
            
        </form>

    </div>
</body>
</html>
    
    

     