<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="/layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
        <div class="img">
            <img src="/BannerMain.png" alt="BannerMain">
        </div>
        </div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="/projname"><i class="fa fa-fw fa-search"></i></a>
<a href="/MeinProfil"><i class="fa fa-fw fa-user"></i></a>
<a href="/logout"><i class="fa fa-sign-out"></i></a>

</div>

<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
    <a href="/main">Main</a>
    <a href="/FaecherJahre">Fächer</a>
    <a href="/Projektanlegen">Neues Projekt</a>
     <a href="/aboutus">About Us</a>
  
    </div>

<div class="main">
    <h1>Willkommen im Projekt:   <%=Projekte[0].Name%></h1><br>
    <p>Im Fach <%=Projekte[0].Fach%>
    erstellt <%=Projekte[0].Jahr%></p><br>
    <p><%=Projekte[0].Beschreibung%></p><br><br><br><br>

        <form action="/doProjektLoschen" method="POST">
          
           <input type="submit" value="Projekt löschen">
        </form>
    </div>
    </body>
    </html>


