<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
    <div class="img">
        <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
<a href="/logout"><i class="fa fa-sign-out"></i></a>
</div>


<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
<a href="main">Main</a>
<a href="FaecherJahre">Fächer</a>
<a href="Projektanlegen">Neues Projekt</a>
<a href="aboutus">About Us</a>

</div>



<div class="main">
    <h1>Mein neues Projekt</h1>
    <form action="/doProjektanlegen" method="POST">

        <h4>Name des Projektes</h4>
        <input type="text" name="ProjektName">

        <h4>Im Fach</h4>

      <div class="RButton" name="ProjektFach" sytle="width:200px;">
      <fieldset>
        <input type="radio" id="AP" name="ProjektFach" value="AP">
        <label for="AP"> Angewandte Programmierung</label> 
        <input type="radio" id="MGD" name="ProjektFach" value="MGD">
        <label for="MGD"> Media Game Design</label> 
      </fieldset>
    </div>
        <h4>Im Jahr</h4>
        <input type="number" name="ProjektJahr"> 

        <h4>Beschreibung</h4>
        <p>Hier kannst du auch die Namen der mitwirkenden Studierenden angeben, falls diese das möchten.
        So haben die anderen Studierenden die Möglichkeit sich über die HAW-Mail mit euch zu vernetzen.</p>
       <textarea required id="text" name="ProjektBeschreibung" cols="95" rows="10"></textarea> 	
       <button type="submit" value="newproject" name="proj">Projekt anlegen</button>
    </form>
</body>
</html>
</div>