<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
    <div class="img">
        <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>


<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
<a href="main">Main</a>
<a href="FaecherJahre">Fächer</a>
<a href="aboutus">About Us</a>
<a href="Projektanlegen">Neues Projekt</a>
</div>



<div class="main">
    <h1>Mein neues Projekt</h1><br>
    <form action="/doProjektanlegen" method="POST">

        <h4>Name des Projektes:</h4>
        <input type="text" name="ProjektName"><br><br><br>

        <h4>Im Fach :</h4>
        <p>Bitte gibt hier für angewandte Programmierung "AP" und für Media-Game Design "MGD" an :)</p>
        <input type="text" name="ProjektFach"> <br><br><br>

        <h4>Im Jahr :</h4>
        <input type="text" name="ProjektJahr"> <br><br><br>

        <h4>Beschreibung :</h4>
        <p>Hier kannst du auch die Namen der Mitwirkenden Studenten angeben, falls die das möchten.<br>
        So haben die anderen Studenten die Möglichkeit sich über die HAW-Mail mit euch zu vernetzen.</p>
        <input type="text" name="ProjektBeschreibung"><br><br><br>

        <input type="submit" value="Projekt anlegen">
    </form>
</body>
</html>
</div>