<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
        <div class="img">
            <img src="BannerMain.png" alt="BannerMain">
        </div>
        </div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>

<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
    <a href="main">Main</a>
    <a href="aboutus">About Us</a>
    <% if(typeof name !== 'undefined' && name !== null){%>
        <a href="login">Login</a>
        <a href="signup">Sign Up</a>
    <%}else{%>
        <a href="FaecherJahre">Fächer</a>
     <%} %>%>
    </div>

<div class="main">
    <h1>Willkommen im Projekt:   <%=Projekte[0].Name%></h1><br>
    <p>Im Fach <%=Projekte[0].Fach%>
    erstellt <%=Projekte[0].Jahr%></p><br>
    <p><%=Projekte[0].Beschreibung%></p>
    
</body>
</html>
</div>