<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
<div class="img">
    <img src="BannerMain.png" alt="BannerMain">
</div>
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="projname"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
<a href="/logout"><i class="fa fa-sign-out"></i></a>
</div>


<!-- Side navigation, wenn man eingeloggt ist, verschwindet man-->
<div class="sidenav">
<a href="logmain">Main</a>
<a href="FaecherJahre">Fächer</a>
<a href="aboutus">About Us</a>
<a href="Projektanlegen">Neues Projekt</a>





</div>

<div class="main">

      <!-- main Text -->
        <h1>Projekt  <%=name%> wurde gespeichert!,</h1>
        <p>Vielen Dank für deinen Beitrag in das Forum, zukünftige Studenten werden sich dadurch inspirieren lassen vielleicht Kontakt zu dir aufnehmen.<br><br>
            Du kannst dein Projekt jetzt unter dem Menüpunkt "Fächer" oder in der Suche finden.<br><br>
            Viel Spaß beim weiteren Stöbern<br>
        </p>
     
    </div>
    </body>
</html>
