<div class="main">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="layout.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <!-- Side navigation -->
<div class="sidenav">
        <a href="main">Main</a>
        <a href="login">Login</a>
        <a href="signup">Sign Up</a>
        <a href="aboutus">About Us</a>
        </div>
        <h1>Sign Up</h1>
        <form action="/doRegister" method="POST">
            <p>Name:</p>
            <input type="text" name="name"><br>

            <p>E-Mail:</p>
            <input type="email" name="email"> <br>

            <p>Passwort</p>
            <input type="password" name="password"><br>
            <input type="submit" value="Absenden">
        </form>
    </body>
</html>
</div>