<!DOCTYPE html>
<html>
<!--Head-->
<head>

<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css"/>

 <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Body-->
<body>
 
<!--Header -->
<div class= "header">
    <div class="img">
        <img src="BannerMain.png" alt="BannerMain">
</div>
        
<!-- top navigation bar-->
<div class="navbar">
<a href="#"><i class="fa fa-fw fa-search"></i></a>
<a href="MeinProfil"><i class="fa fa-fw fa-user"></i></a>
</div>


<!-- Side navigation -->
<div class="sidenav">
<a href="main">Main</a>
<a href="login">Login</a>
<a href="signup">Sign Up</a>
<a href="aboutus">About Us</a>
</div>



<div class="main">
        <h1>Sign Up</h1>
        <form action="/doRegister" method="POST">
            <p>Name:</p>
            <input type="text" name="name"><br>

            <p>E-Mail:</p>
            <input type="email" name="email"> <br>

            <p>Passwort</p>
            <input type="password" name="password"><br>
            <input type="submit" value="Absenden">
        </form>
    </body>
</html>
</div>